*{
    font-family: sans-serif;
}
div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
button{
    margin: 10px;
}
.rsltnum{
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 48%;   
}